---
import Report from '../layouts/Report.astro';
---

<Report title="Sistema de reporteo THP" reporte='Menu'>
	<div class="flex flex-col gap-4">
		<h2 class="text-2xl font-bold">Reportes disponibles:</h2>
		<a class="underline text-blue-500 ml-5" href="/reportes/asistencia">Asistencia</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/caratula_exp">Caratula Exp</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/produccion_semana">Produccion Semana</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/no_reporto">¿Quién no registró?</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/derecho_descanso">Derecho a descanso</a>
	</div>
</Report>