---
import Report from '../layouts/Report.astro';
---

<Report title="Sistema de reporteo THP" reporte='Menu'>
	<div class="flex flex-col gap-4">
		<h2 class="text-2xl font-bold">Consultas y reportes:</h2>
		<a class="underline text-blue-500 ml-5" href="/reportes/asistencia">Asistencia semana actual</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/caratula_exp">Carátula de expediente de trabajador</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/produccion_semana">Produccion Semanal</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/no_reporto">Sin reportar</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/derecho_descanso">Trabajadores sin faltas</a>
		<a class="underline text-blue-500 ml-5" href="/reportes/incidencias_year">Reporte de incidencias</a>
	</div>
</Report>