---
import ReporteAsistencia from '../components/ReporteAsistencia';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<a href="/produccion_semana">Producción</a>
	<ReporteAsistencia client:load/>
</Layout>